*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conatiner{
    margin: 0 auto;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(132, 132, 223);
    border-radius: 10px;
    border: 2px solid black;
    max-width: 350px;
}

h1{
    color: brown;
}

img{
    display: block;
    margin: 15px;
    width: 30%;
    border-radius: 10px;
}

